body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #FAFAFA;
}

.heroborder {
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    width: 576px;
    height: 576px;
}

.equal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    width: 272px;
    height: 58px;
}

.logtext {
    font: normal normal 300 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.introtext {
    width: 500px;
    height: 100px;
    text-align: left;
    opacity: 1;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-bottom: 2%;
}

.redtext {
    width: 137px;
    height: 53px;
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}

.main {
    padding: auto;
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin-bottom: 3%;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    font: normal normal 300 20px/47px Roboto;
    letter-spacing: 0px;
}


/* 
.first {
    margin-left: 30%;
} */

.second {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-right: 30%; */
}

.form-control {
    height: 49px;
}

a:link {
    text-decoration: none;
}

.btn {
    height: 45px;
    width: 138px;
}

@media only screen and (max-width: 1024px) {
    .heroborder {
        width: 30%;
        border: 10px solid #FFFFFF;
        max-width: none;
    }
}

@media only screen and (max-width: 800px) {
    .heroborder {
        width: 50%;
        max-width: none;
    }
}

@media only screen and (max-width: 480px) {
    .heroborder {
        width: 100%;
        display: none;
    }
    .form-group {
        max-width: 100%;
    }
}

.form-control:focus {
    box-shadow: none;
}